__pycache__/
*.py[cod]
*$py.class
.DS_Store
.env
.venv/
.conda/
env/
venv/
*.log
*.bak
*.tmp

# Data and Outputs
data/
N:/
Real/
out/
training_out/
evaluation_out/
submission/
dataset/*.csv
dataset/*.npy
dataset/*.zip
dataset/*.tar.gz
